! BGP configuration for quagga 2
!
hostname {{ Q2_HOSTNAME }}
password {{ Q2_PWD }}
!
router bgp {{ SDN_IP_AS_NUM }}
  bgp router-id {{ SDN_IP_RID }}
  timers bgp 3 9

  ! amlight
  neighbor {{ AMLIGHT_RID }} remote-as {{ AMLIGHT_AS_NUM }}
  neighbor {{ AMLIGHT_RID }} ebgp-multihop
  neighbor {{ AMLIGHT_RID }} timers connect 5
  neighbor {{ AMLIGHT_RID }} advertisement-interval 5

  ! krenet
  neighbor {{ KRENET_RID }} remote-as {{ KRENET_AS_NUM }}
  neighbor {{ KRENET_RID }} ebgp-multihop
  neighbor {{ KRENET_RID }} timers connect 5
  neighbor {{ KRENET_RID }} advertisement-interval 5
!
log stdout
