[global.config]
  as = 65113
  router-id = "192.168.3.10"

[global.zebra]
  enabled = true
  url = "unix:/var/run/quagga/zebragobgp2.api"
  redistribute-route-type-list = ["connect"]

[[neighbors]]
  [neighbors.config]
    peer-as = 20080
    neighbor-address = "192.168.3.11"
  [neighbors.timers.config]
    connect-retry = 5
    hold-time = 10
    keepalive-interval = 3
  [neighbors.ebgp-multihop.config]
    enabled = true

[[neighbors]]
  [neighbors.config]
    peer-as = 65113
    neighbor-address = "192.168.1.10"
  [neighbors.timers.config]
    connect-retry = 5

[[neighbors]]
  [neighbors.config]
    peer-as = 65113
    neighbor-address = "192.168.1.11"
