!
! Zebra configuration saved from vty
!   2016/03/09 04:26:53
!
hostname sdnds-tw-quagga2
password sdnds-tw-quagga2
log file /var/log/quagga/bgpd.log
!
router bgp 65113
 bgp router-id 192.168.113.22
 timers bgp 3 10
 neighbor 190.103.186.150 remote-as 20080
 neighbor 190.103.186.150 next-hop-self
 neighbor 190.103.186.150 soft-reconfiguration inbound
 neighbor 190.103.186.150 prefix-list AMLIGHT in
 neighbor 192.168.113.10 remote-as 65113
 neighbor 192.168.113.10 port 2000
 neighbor 192.168.113.10 timers connect 5
 neighbor 192.168.113.20 remote-as 65113
 neighbor 192.168.113.20 soft-reconfiguration inbound
!
ip prefix-list AMLIGHT seq 1 permit any
!
line vty
!
